<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.go4lunch">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Ajoutez d'autres autorisations ici si nécessaire -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Go4Lunch"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Go4Lunch.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Déclaration du DashboardFragment -->
        <activity
            android:name="com.example.go4lunch.ui.dashboard.DashboardFragment"
            android:parentActivityName=".MainActivity" />

        <!-- Déclaration du NotificationsFragment -->
        <activity
            android:name="com.example.go4lunch.ui.notifications.NotificationsFragment"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>
